/* Game CSS */
.game-title{
  color:black;
  text-align: center;
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Board CSS */

.board-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  background-color: #fff;
  border: 2px solid black;
  width:520px;
  padding: 5px;
  padding:none;
  margin: none;
}


/* Square CSS */
.square-group{
  display: flex;
  flex-direction: row;
  width:520px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.square-form{
  width: 50px;
  height:50px;
  padding:none;
  text-align: center;
  border:white;
  font-size: larger;
  font-weight: bold;
}
.square-form:hover{
  background-color: cornsilk;
}

.has-error{
  color:red;
}

.editable{
  text-align: center;
  width: 45px;
  height:45px;
  border:white;
  font-size: larger;
  font-weight: bold;
}
.editable:hover{
  background-color: cornsilk;
}
*{
  outline: none;
}

.btn{
  width: 140px;
  margin-top: 25px;
  height: 40px;
  background-color: lightblue;
  border-radius: 3px;
  border: none;
}
.bottom-border{
  border-bottom: 2px solid black !important;
}
.right-border{
  border-right: 2px solid black !important;
}